html {box-sizing: border-box;}*,*::before,*::after {box-sizing: inherit;}body,h1,h2,h3,h4,h5,h6,ul,ol,li,p,pre,blockquote,figure,hr {margin: 0;padding: 0; font-size:100%; font-weight: normal;}ul {list-style: none;}input,textarea,select,button {color: inherit;font: inherit;letter-spacing: inherit;}input,textarea,button {border: 1px solid gray;}button {border-radius: 0;padding: 0.75em 1em;background-color: transparent;}button * {pointer-events: none;}embed,iframe,img,object,video {display: block;max-width: 100%;}[hidden] {display: none !important;}noscript {display: block;margin-bottom: 1em;margin-top: 1em;}
/* Buttons and input buttons */
[role="button"],input[type="submit"],input[type="reset"],input[type="button"],button { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box;}
input[type="submit"], input[type="reset"], input[type="button"], button { background: none; border: 0; color: inherit; font: inherit; line-height: normal; overflow: visible; padding: 0; -webkit-appearance: button; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
input::-moz-focus-inner, button::-moz-focus-inner { border: 0; padding: 0;}
a{color:black;}
:root{--p:14px;}
body{font: clamp(var(--p), .8vw, 20px)/1.65em JetBrains Mono, monospace; background:lightgray; padding:var(--p);}
img{margin:var(--p) 0; }
a, button{border:1px solid black; text-decoration: none; padding:2px 2px 2px 3px;}
em a{border:none; display: block; padding: 0;} /*hacky style*/
em img{border:1px solid black; border-color:white white black black; padding:0; margin-bottom:0; filter:grayscale(1);}
button{background: black; color:lightgray; text-transform: uppercase;}
table a{border:0; border-bottom:1px solid black;}

a:hover{background: black; color: lightgray}
div, h2, table, th, td {border:1px solid black;padding:var(--p); margin:var(--p) 0 0 0;}
p:not(:last-child), h2, pre{margin-bottom:var(--p);}
h2:first-of-type{margin-top:0;}
h3{margin-top: var(--p);
  border-bottom: 1px solid black;
  margin-bottom: var(--p);
}
.remote-content, .lists{display: flex; flex-wrap: wrap;}
.remote-content>div:last-child{border-left:0;}
.remote-content>div{width: 50%;}
.readme h1{display: none}
.readme a[href="https://raphaelbastide.com/cascade"]{display: none}
.lists{justify-content: space-between;  align-items: flex-start;}
.lists>div{width:calc(50% - var(--p) * .5); margin-top:0;}
pre {
  background: #eee;
  border-left: 10px solid black;
  page-break-inside: avoid;
  max-width: 100%;
  overflow: auto;
  padding: var(--p);
  display: block;
  word-wrap: break-word;
  position: relative;
  font-family: inherit;
}
code{ background: #eee; padding:0 2px; text-transform: none; font-family: inherit;}
table{border-collapse: collapse; width:100%;}
li{padding-left: 0px; margin-left: 1.5em; margin-bottom:10px;}
li::marker{content:"■ ";}
iframe{aspect-ratio:16/9; width:100%; height:auto;}
::selection{background:black; color:white;}

@media only screen and (max-width: 1000px) {
  .lists{position: static!important; top:0; width: 100% !important;;}
  .remote-content{
    flex-direction: column-reverse
  }
  table{ min-width: 600px;}
  .remote-content div{
    overflow-x :auto;
    width: 100%;
    border-left:1px solid black!important;
  }
}
