:root {
  --p: 5px;
  --headerH: 40px;
  --dark: #222;
  --darker: #000;
  --bright: #ddd;
  --brighter: #fff;
  --c0: white;
  --c1: black;
  --c2: tan;
  --c3: blue;
  --c4: cyan;
  --c5: gold;
  --c6: gray;
  --c7: lime;
  --c8: magenta;
  --c9: peru;
  --c10: pink;
  --c11: red;
  --c12: teal;
  --c13: khaki;
  --c14: olive;
  --c15: purple;
}

body {
  font: 14px/1.2em "jetbrains mono", "liberation", sans-serif;
  color: black;
  background: var(--dark);
  margin: 0;
}

.ace_editor {
  background-color: var(--darker);
  /* avoid white blinking */
  position: absolute;
  font-family: "jetbrains mono", monospace;
  line-height: 1.6em;
  top: 30px;
  right: 0;
  font-size: 15px;
  bottom: 0;
  left: 0;
  width: 35%;
}

.output {
  position: relative;
  height: 100vh;
  left: 35%;
  width: 65%;
  border: 0;
  background: white;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.button {
  color: var(--dark);
  background: var(--bright);
  padding: 3px 10px 4px;
  border-radius: 10px;
  border: 0px;
  cursor: pointer;
}

.button.snapshot-btn {
  background: yellow;
  display: flex;
}

.button.snapshot-btn .snapshot-version {
  margin-left: 4px;
}

.button:hover, .button:focus {
  background: var(--brighter);
  text-decoration: none;
}

/* Editors */
.ace_gutter-cell.ace_error, .ace_gutter-cell.ace_warning {
  background: none;
}

.ace_gutter-cell.ace_error:before, .ace_gutter-cell.ace_warning:before {
  position: absolute;
  left: .1em;
  font-size: 1.5em;
}

.ace_gutter-cell.ace_error:before {
  content: "×";
  color: tomato;
}

.ace_gutter-cell.ace_warning:before {
  content: "!";
  left: .5em;
  font-size: 1em;
  color: orange;
}

.ace_gutter {
  background: #000 !important;
  color: #444 !important;
}

.ace_gutter-active-line, .ace_active-line {
  background: #131313 !important;
  color: #aaa;
}

.ace_scrollbar-h {
  overflow: hidden;
}

@media (max-width: 810px) {
  :root {
    --headerH: 80px;
  }

  header {
    justify-content: space-between;
  }
}

@media (max-width: 600px) {
  :root {
    --headerH: 100px;
  }

  header .group {
    width: 100%;
    justify-content: space-between;
  }
}
